@{
    ViewData["Title"] = "Home Page";
}

<a href="/Home/Privacy">Przejdź do drugiej strony</a>

<h1>Generuj tabliczkę mnożenia</h1>

<form>
    <label for="number">Podaj liczbę w zakresie 5-20:</label>
    <input type="number" id="number" name="number" value="5" />
</form>

<div style="display: flex; flex-direction: column; align-items: center;">
    <button type="button" id="button">Generuj tabelę</button>
    <div id="table-container"></div>
</div>
<footer>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut tempus
        lorem. Mauris pretium libero tellus, ut rutrum ante euismod nec. Nam eget
        tempor orci, a suscipit metus. Suspendisse a condimentum dui. Sed
        dignissim et ex sit amet viverra. Nam fermentum, metus nec imperdiet
        fermentum, justo dui hendrerit mi, id luctus erat tortor nec sapien. Cras
        eu mi ut ex rhoncus rhoncus nec at purus. Mauris vel blandit nulla, eu
        accumsan neque. Vestibulum urna enim, pretium convallis ipsum eu, euismod
        faucibus arcu. Aliquam ut nibh sit amet magna consequat lacinia id sit
        amet quam. Aenean nec vestibulum eros. Curabitur vestibulum diam elit, sit
        amet pharetra mi porta eget. Quisque auctor tortor nulla, eu commodo ipsum
        sollicitudin eu. Quisque tincidunt lacus vitae metus varius ornare.
        Praesent vel elit ornare, consequat mi ac, scelerisque tellus. Nullam
        fermentum est elit, quis varius neque molestie quis. Ut ornare nisi non
        augue laoreet, et dictum lacus finibus. Sed quis dui urna. Nulla a neque
        consequat, blandit neque at, posuere leo. Etiam sed orci auctor, blandit
        massa a, molestie sapien. In accumsan felis in molestie efficitur. Fusce
        tristique quam in massa placerat, at tempor nunc efficitur.
    </p>
</footer>