@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<a href="/Home/Index">Powrót do pierwszej strony</a>

<h1>Rysowanie linii z rogów</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut tempus
    lorem. Mauris pretium libero tellus, ut rutrum ante euismod nec. Nam eget
    tempor orci, a suscipit metus. Suspendisse a condimentum dui. Sed
    dignissim et ex sit amet viverra. Nam fermentum, metus nec imperdiet
    fermentum, justo dui hendrerit mi, id luctus erat tortor nec sapien. Cras
    eu mi ut ex rhoncus rhoncus nec at purus. Mauris vel blandit nulla, eu
    accumsan neque. Vestibulum urna enim, pretium convallis ipsum eu, euismod
    faucibus arcu. Aliquam ut nibh sit amet magna consequat lacinia id sit
    amet quam. Aenean nec vestibulum eros. Curabitur vestibulum diam elit, sit
    amet pharetra mi porta eget. Quisque auctor tortor nulla, eu commodo ipsum
    sollicitudin eu. Quisque tincidunt lacus vitae metus varius ornare.
    Praesent vel elit ornare, consequat mi ac, scelerisque tellus. Nullam
    fermentum est elit, quis varius neque molestie quis. Ut ornare nisi non
    augue laoreet, et dictum lacus finibus. Sed quis dui urna. Nulla a neque
    consequat, blandit neque at, posuere leo. Etiam sed orci auctor, blandit
    massa a, molestie sapien. In accumsan felis in molestie efficitur. Fusce
    tristique quam in massa placerat, at tempor nunc efficitur. Suspendisse et
    dolor ipsum. Class aptent taciti sociosqu ad litora torquent per conubia
    nostra, per inceptos himenaeos. Etiam in condimentum turpis. Praesent
    tempus tortor eu nisi pharetra pellentesque. Sed dapibus vulputate tempor.
    Suspendisse ullamcorper eros a tempor varius. Aliquam erat volutpat. Cras
    efficitur metus ac est pellentesque ultrices. Curabitur at vestibulum est.
    Donec faucibus elementum diam. Nunc et quam lorem. Ut efficitur orci
    commodo dui finibus commodo. Cras facilisis quam vitae auctor accumsan.
    Fusce ac ante suscipit, facilisis justo in, dignissim est. Sed commodo
    blandit nisl, vel posuere massa molestie eget. Nam luctus porttitor risus,
    non fringilla mi volutpat eget. Integer ut semper nulla. Nullam pharetra
    ullamcorper risus, eu sodales augue rhoncus vitae. Proin vitae pharetra
    enim. Aenean viverra, felis eu lobortis fermentum, risus risus interdum
    sem, eget sodales sem metus quis elit. Phasellus scelerisque erat in ex
    egestas euismod. Praesent ut lacus congue, commodo erat ullamcorper,
    rutrum velit. Nulla eget ultricies tortor. Maecenas aliquet condimentum
    dui, commodo condimentum turpis ultrices id. Fusce porttitor, diam in
    ullamcorper tempor, ante nulla convallis lectus, laoreet auctor elit
    tortor nec mi. Nam id ligula vel nisl congue facilisis eget et dolor.
    Aenean eu odio congue, elementum quam quis, vestibulum eros. Maecenas
    molestie nisl eleifend lacinia luctus. Nullam sit amet tempor sapien, at
    lobortis odio. Aliquam tristique vitae ligula et tincidunt. Praesent
    pharetra nisi non mattis posuere. Fusce erat urna, molestie ut lectus id,
    auctor ultricies tortor. Fusce tristique fermentum ante id varius. Donec
    dapibus tortor et varius porta. Aenean scelerisque maximus mi non maximus.
    Mauris nec suscipit sem, vel efficitur leo. Class aptent taciti sociosqu
    ad litora torquent per conubia nostra, per inceptos himenaeos. In ac
    ligula porta, auctor urna eu, eleifend felis.
</p>

<!-- Normalny canvas -->
<canvas class="drawingX normal" width="500" height="500"></canvas>

<!-- Canvas float left -->
<canvas class="drawingX float-left" width="500" height="200"></canvas>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut tempus
    lorem. Mauris pretium libero tellus, ut rutrum ante euismod nec. Nam eget
    tempor orci, a suscipit metus. Suspendisse a condimentum dui. Sed
    dignissim et ex sit amet viverra. Nam fermentum, metus nec imperdiet
    fermentum, justo dui hendrerit mi, id luctus erat tortor nec sapien. Cras
    eu mi ut ex rhoncus rhoncus nec at purus. Mauris vel blandit nulla, eu
    accumsan neque. Vestibulum urna enim, pretium convallis ipsum eu, euismod
    faucibus arcu. Aliquam ut nibh sit amet magna consequat lacinia id sit
    amet quam. Aenean nec vestibulum eros. Curabitur vestibulum diam elit, sit
    amet pharetra mi porta eget. Quisque auctor tortor nulla, eu commodo ipsum
    sollicitudin eu. Quisque tincidunt lacus vitae metus varius ornare.
    Praesent vel elit ornare, consequat mi ac, scelerisque tellus. Nullam
    fermentum est elit, quis varius neque molestie quis. Ut ornare nisi non
    augue laoreet, et dictum lacus finibus. Sed quis dui urna. Nulla a neque
    consequat, blandit neque at, posuere leo. Etiam sed orci auctor, blandit
    massa a, molestie sapien. In accumsan felis in molestie efficitur. Fusce
    tristique quam in massa placerat, at tempor nunc efficitur.
</p>

<!-- Canvas overlay -->
<canvas class="drawingX overlay" width="400" height="250"></canvas>

<!-- Canvas fixed bottom -->
<canvas class="drawingX fixed-bottom" width="200" height="150"></canvas>
