body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

p {
    max-width: 900px;
    margin: 20px auto;
    line-height: 1.6;
}

a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #2980b9;
    text-decoration: none;
}

    a:hover {
        color: #3498db;
    }


.drawingX.normal {
    display: block;
    margin: 30px auto;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    background-color: #ffffff;
}


.drawingX.float-left {
    float: left;
    margin: 0 20px 20px 0;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    background-color: #ffffff;
}


.drawingX.fixed-bottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    background-color: #ffffff;
}

/* Canvas overlay na tekście */
.drawingX.overlay {
    position: absolute;
    top: 300px;
    left: 50%;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
}
