@page
@model lab11.Pages.Articles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-2">
                <label asp-for="Article.Name" class="control-label"></label>
                <input asp-for="Article.Name" class="form-control" />
                <span asp-validation-for="Article.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-2">
                <label asp-for="Article.Price" class="control-label"></label>
                <input asp-for="Article.Price" class="form-control" />
                <span asp-validation-for="Article.Price" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-2">
                <label asp-for="Article.ExpirationDate" class="control-label"></label>
                <input asp-for="Article.ExpirationDate" class="form-control" />
                <span asp-validation-for="Article.ExpirationDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Article.FormFile" class="control-label">Zdjęcie towaru</label>
                <input asp-for="Article.FormFile" type="file" class="form-control" onchange="previewImage(event)" />
                <span asp-validation-for="Article.FormFile" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <img id="imagePreview" src="#" alt="Podgląd" style="display:none; max-width:100%; height:auto; border: 1px solid #ccc; padding: 5px;" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Article.CategoryId" class="control-label">Kategoria</label>
                <select asp-for="Article.CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    <option value="">-- Wybierz kategorię --</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('imagePreview');
                output.src = reader.result;
                output.style.display = 'block';
            };
            if(event.target.files[0]) {
                reader.readAsDataURL(event.target.files[0]);
            }
        }
    </script>
}